.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.env.*

.streamlit/secrets.toml

mlruns/
*.log

data/processed/*
data/reference/*

artifacts/models/*
artifacts/metrics/*
artifacts/metadata/*

.DS_Store
Thumbs.db
mlflow.db
